@font-face {
  font-family: BebasNeue;
  src: url(.././fonts/BebasNeueRegular.ttf);
}
@font-face {
  font-family: MarkerFelt;
  src: url(.././fonts/MarkerFelt-Wide.ttf);
}
@font-face {
  font-family: DINCondensed;
  src: url(.././fonts/DINPro-CondensedBold.ttf);
}

.App {
  color: rgb(255, 255, 255);
  max-width: 1140px;
  margin: auto;
}
