.FormSubscrybe {
  box-sizing: border-box;
  height: 380px;
  background: #ef7d00;
  text-align: center;
  padding: 44px 50px 40px;
}

.FormSubscrybe h2 {
  margin: 0;
  font: 60px / 1.2 MarkerFelt;
  text-transform: uppercase;
  text-shadow: 1px 1.732px rgb(66, 29, 75);
}

.FormSubscrybe p {
  font: 24px / 1.25 BebasNeue;
  margin: 35px auto;
  max-width: 740px;
}

.FormSubscrybe form {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.FormSubscrybe input {
  height: 59px;
  width: 364px;
  box-sizing: border-box;
  background: #ef7d00;
  border: 2px solid rgb(255, 255, 255);
  padding: 20px 30px;
  margin-top: 35px;
}

.FormSubscrybe input, .FormSubscrybe input::placeholder {
  font: 24px / 0.625 DINCondensed;
  color: rgb(255, 255, 255);
  opacity: 1;
}

.FormSubscrybe button {
  background: #491f53;
  font: 36px / 1.222 BebasNeue;
  color: rgb(255, 255, 255);
  border: none;
  vertical-align: top;
  padding: 10px 45px 5px;
  margin-top: 35px;
  cursor: pointer;
}

.FormSubscrybe button:hover {
  color: #ffdd2d;
}

.FormSubscrybe .subScrybed {
  font: 36px / 1.222 BebasNeue;
  margin: 0 auto;
  padding-top: 35px;
}

@media (max-width: 1176px) {

  .FormSubscrybe {
    max-width: 760px;
    height: auto;
    margin: auto;
    padding: 44px 40px 40px;
  }

  .FormSubscrybe form {
    flex-direction: column;
  }

}

@media (max-width: 796px) {

  .FormSubscrybe {
    max-width: 380px;
  }

  .FormSubscrybe h2 {
    font-size: 36px;
  }

  .FormSubscrybe input {
    width: auto;
  }

}
